{% load static %}
<nav class="navbar navbar-light bg-light">
   
    <a class="navbar-brand" href=" {% url 'home'  %} ">Anasayfa</a>
    <div class="col">
    {% for item in categories %}
        <a class="" href="{{ item.get_absolute_url }}">
      <!-- {% url 'cat' tag_slug=item.title  %}-- -->
         ( {{ item.slug }})</a>  
    {% endfor %}
  </div>

    {% if request.user.is_authenticated %}

     {{ user.username }} <a href=" {% url 'logout'  %} ">
      Oturumu Kapat
    </a>
    
    

    {% else %}

    <a href=" {% url 'login' %} ">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Giris Yap</button>
   </a>
    {% endif %}
      


    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>