{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
         {% url 'home' as home %} <!-- {% if home == request.path %}active{% endif %}  bunu ekledigimizde sadece aktif oldugunda beyaz gorunecek-->
        <a class="nav-item nav-link {% if home == request.path %}active{% endif %}" href="{{ home }}" >Anasayfa</a>
           </li>
      
        {% for item in categories %}
        <a class=" nav-item nav-link ml-3 pr-4
        {% if item.get_absolute_url == request.path %}active{% endif %}" href="{{ item.get_absolute_url }}">
      <!-- {% url 'cat' tag_slug=item.title  %}-- -->
      <li class="nav-item">  {{ item.slug }}</li></a>  
    {% endfor %}      
      
    </ul>
    {% if request.user.is_authenticated %}
     <ul class="navbar-nav mr-auto "> 
       <li>
        {% url 'cat_list' as cat_list %}
       <a class="nav-item nav-link {% if cat_list == request.path  %}active{% endif %}" href="{{ cat_list }}"> Category Listesi</a>
      </li>
       {% if user_is_admin  %}
          <li>
          <a class="nav-item nav-link" href="{% url 'cat_added' %}">
              Kategori Ekle
          </a>
        </li>
    {% endif %}
        <li class="bg-light">
            {{ user.username }} <a href=" {% url 'logout'  %} ">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Oturumu Kapat </button>
            </a>
        </li>
   
    {% else %}
          <li>
          <a href=" {% url 'login' %} ">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Giris Yap</button>
        </a>
        </li>
    {% endif %}
  </ul>      

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>












