{% extends 'base/master.html' %}


{% block content  %}
<br>
<div class="row">
{% if category  %}
<h2>{{ category.title }}</h2>
{% endif %}
<!-- <ul> -->
    {% comment %}

{% url 'add_category' as add_category %}
{% include 'base/form.html' with action="{{ add_category}}" submit="Kategoriyi Kaydet" %}

{% endcomment %}
</div>

<!-- <h2>{{ user_is_admin }} # bunun anasayfada True olmasi o kullanicin grupta yer aldigini belirtir butun yetkilere sahiptir False olursa hic birsey yapamaz -->
</h2>
 <div class="card-columns"> <!-- bu card lari bir siraya koyar duzenler binevi -->
    {% for item in items %} 
    <!-- <li> ---<<card koydugumuz icin bunlari pasif ettik
        <a href="{{ item.get_absolute_url }}" class="">
       
        {{ item.title }} --{{ item.get_absolute_url }}
            
    </a>
    </li> -->
    {% include 'base/card.html'  %}
    

{% endfor %} 
</div>
<!-- </ul> -->
{% endblock %}



